<!DOCTYPE html>
{% extends 'website/base.html' %}
{% load static %}
<head>
  {% block meta %}
    <meta name="description" content="Szukasz dobrego fotografa do sesji zdjęciowej? Masz pomysł na sesję lub szukasz inspiracji? Zapraszam na mój artystyczny blog fotograficzny"/>
    <meta name="robots" content="index"/>
  {% endblock %}

  {% block styles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% endblock %}
</head>

<body>

  {% block content %}

  <main>
    <div class="custom-select">
      <select>
        <option value='all'>Wszystkie</option>
        <option value='all'>Wszystkie</option>
        {% for category in categories %}
        <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="images_containter">
      <div class="backdrop"></div>
      <div class="modal">
        <img src="" class="modal_image">
        <button class="modal_image--close">&#10006;</button>
      </div>
      {% for post in post_list %}
      <div class="image_containter {{ post.category }}">
        <img src="{{MEDIA_URL}}{{post.image}}" class="img">
        <div class="image-description">
          <div class="title_category_one_line">
            <h2 class="image-description_title">{{ post.title }}</h2>
            <p class="image-description_category">Kategoria: {{ post.category }}</p>
          </div>
          <div class="image-description_text small-content">{{ post.text }}
            <p class="image-description_pub-date">{{ post.published_date}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock %}
</body>
