<!DOCTYPE html>
{% extends 'website/base.html' %}
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Nicola Kalisz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Nicola Kalisz">
  <link rel="shortcut icon" href="" >
  {% block styles %}
    <link rel="stylesheet" href="{% static 'css/omnie.css' %}">
  {% endblock %}
</head>


<body>

  {% block content %}
    <main>
      {% for element in omnie %}
      <div class="omnie">
        <div class="cont">
          <img class="omnie_img" src="{{MEDIA_URL}}{{element.profilowe}}">
          <div class= "omnie_title">
            {{element.title}}
          </div>
          {% for element in kontakt %}
          <div class="kontakt" id=kontakt>
            <div class="kontakt_title">
              Znajdziesz mnie na:
            </div>
            <div class="kontakt_social-media">
              <a href="{{element.facebook}}" target="_blank">
                <img src="{% static 'images/facebook.png' %}" alt="">
              </a>
              <a href="{{element.instagram}}" target="_blank">
                <img src="{% static 'images/instagram.png' %}" alt="">
              </a>
            </div>
            <div class="kontakt_adres">
              <p>Obszar działalności</p>
              {{element.adres}}
            </div>
          </div>
          {% endfor %}
        </div>
        <p class="omnie_text">
          {{element.text}}
        </p>
      </div>
      {% endfor %}


    </main>
    <script src="/static/js/omnie.js"></script>
  {% endblock %}
</body>

</html>
