<!DOCTYPE html>
{% extends 'website/base.html' %}
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Nicola Kalisz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Nicola Kalisz">
  <link rel="shortcut icon" href="" >
  {% block styles %}
    <link rel="stylesheet" href="{% static 'css/omnie.css' %}">
  {% endblock %}
</head>


<body>

  {% block content %}
    <main>
      {% for element in omnie %}
      <div class="omnie">
        <div class="cont">
          <img class="omnie_img" src="{{MEDIA_URL}}{{element.profilowe}}">
          <div class= "omnie_title">
            {{element.title}}
          </div>
          {% for element in kontakt %}
          <div class="kontakt" id=kontakt>
            <div class="kontakt_title">
              Kontakt
            </div>
            <div class="kontakt_number">
             <p>Nr tel.</p>
             {{element.nr_tel}}
            </div>
            <div class="kontakt_email">
              <p>E-mail:</p>
              {{element.email}}
            </div>
            <div class="kontakt_adres">
              <p>Adres Korespondencyjny:</p>
              {{element.adres}}
            </div>
          </div>
          {% endfor %}
        </div>
        <p class="omnie_text">
          {{element.text}}
        </p>
      </div>
      {% endfor %}


    </main>
    <script src="/static/js/omnie.js"></script>
  {% endblock %}
</body>

</html>
