@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans");
main {
  display: grid;
  grid-template-rows: 3rem auto 2rem;
  grid-template-areas: "categories" "images" "footer";
}

.custom-select {
  width: 12rem;
  grid-area: categories;
  align-self: center;
  margin: auto;
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: #6d6d6d;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #6d6d6d;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.images_containter {
  grid-area: images;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin: 1rem;
}
.images_containter .image_containter {
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.images_containter .backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}
.images_containter .modal {
  display: none;
  position: fixed;
  z-index: 5;
  text-align: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.9);
}
.images_containter .modal .modal_image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  max-width: 100%;
  margin: auto;
  z-index: 6;
  animation: zoom 1s;
}
.images_containter .modal_image--close {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  color: whitesmoke;
  font-size: 1.5rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 6;
  display: none;
}
.images_containter a {
  text-decoration: none;
}
.images_containter .img {
  max-height: 20rem;
  max-width: 100%;
}
.images_containter .image-description {
  background: #3a3a3a;
  padding: 0;
  color: #f6f6f7;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.images_containter .image-description .title_category_one_line {
  display: block;
  position: relative;
}
.images_containter .image-description .image-description_category {
  font-size: 0.8rem;
  position: absolute;
  padding: 0 0.2rem;
  top: 0;
  right: 0;
}
.images_containter .image-description .image-description_title {
  font-size: 1.5rem;
  text-align: center;
}
.images_containter .image-description .image-description_text {
  margin: 0;
  padding: 0.5rem;
}
.images_containter .image-description .image-description_text .image-description_pub-date {
  margin: auto;
  padding: 0.5rem;
  font-size: 0.5rem;
  text-align: right;
}
.images_containter .image-description .image-description_read-more {
  border: none;
  background: none;
  font-size: 0.8rem;
  cursor: pointer;
  color: #bbb;
  margin: 0;
  padding: 0.5rem;
  font-family: inherit;
}
.images_containter .image-description .image-description_read-more:focus {
  outline: none;
}

.open-modal {
  display: flex !important;
}

.small-content {
  max-height: 2rem;
  overflow: hidden;
  transition: max-height 0.1s linear;
}

.expand-content {
  max-height: 50rem;
  transition: max-height 1s ease-out;
}

@keyframes zoom {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@media (min-width: 740px) {
  .images_containter {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .images_containter .image_containter {
    max-width: 80%;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
}

/*# sourceMappingURL=main.css.map */
