$width:25rem;

main{
  display: flex;
  justify-content: center;
  .omnie{
    margin: 5rem;
    justify-content: center;
    .cont{
      display: flex;
      flex-direction: column;
      width: $width;
      height: 35rem;
      .omnie_title{
        width: 100%;
        font-size: 4rem;
        color: whitesmoke;
        padding: 1rem;
        text-align: center;
      }

      .omnie_img{
        max-width: $width;
        max-height: 30rem;
        float: left;
      }
    }

    .omnie_text{
      padding: 4rem;
      margin: 0;
      color: rgba(255, 255, 255, 0.88);
      width: $width;
      text-align: center;
      align-self: center;
    }
  }

  .kontakt{
    margin: 0;
    text-align: center;
    color: whitesmoke;
    p{
      font-weight: bolder;
      font-size: 1.5rem;
    }
    .kontakt_title{
      font-size: 4rem;
    }
    .kontakt_social-media{
        a{
          img{
            width: 6rem;
            height: 6rem;
          }
        }
    }

    .kontakt_adres{
      padding: 1rem;
    }
  }
}
